nav,
main,
footer,
section {
	width: 100%;
	height: auto;
}

body {
	padding-top: 60px;
}

nav {
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

/* focus on any 'li' element from 'ul' */
nav ul li {
	display: inline-block;
	padding: 10px;
}



nav ul li.logo {
	font-weight: bold;
}
nav ul li.link {
	font-weight: 200;
}

nav ul li:nth-child(2) a {
	color: red;
}

/* pseudo element */
nav ul li:last-child {
	padding-right: 0;
}
nav ul li a, nav ul li i {
	color: #fff;
	text-decoration: none;
}

figure img {
	display: inline-block;
	width: 100%;
}


.before_example {
	width: 300px;
	height: 300px;
	border: 2px solid red;
	margin: 100px auto 200px;
	position: relative;
}

.before_example:after {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	left: 100%;
}

.before_example .box {
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	right: 100%;
	transition: right ease-out 1000ms;
}
.before_example .box:hover {
	background-color: #fff;
	right: 95%;
}